<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.versec.versecko">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".view.story.StoryUploadActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.ToMainScreenActivity"
            android:exported="false" />

        <service
            android:name=".util.FCMServic"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".view.profile.ImageModifyActivity"
            android:exported="false" />
        <activity
            android:name=".view.room.MessageActivity"
            android:exported="false" />
        <activity
            android:name=".view.matching.UserProfileActivity"
            android:exported="false" />

        <service
            android:name=".util.LocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".view.profile.ProfileModifyActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.FillUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.EntryActivity"
            android:exported="false" />
        <activity
            android:name=".view.signup.FillUserImageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".view.signup.CongratsActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChooseStyleActivity"
            android:exported="false" />
        <activity
            android:name=".view.ChoosePlaceActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>